<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Actions</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
<ul style="list-style-type: none">
    <li>
        <a class="linkToButton" th:href="@{/book/open_add_form}">Добавление книги</a>
    </li>
    <li>
        <form th:action="@{/book/search_by_id}" method="get">
            <label for="book_id">Введите ID книги для поиска:</label>
            <input type="text" id="book_id" name="id" required>
            <button class="btn_design" type="submit">Поиск</button>
        </form>
    </li>
    <li>
        <form th:action="@{/book/search_by_isbn}" method="get">
            <label for="isbn">Введите ISBN книги для поиска:</label>
            <input type="text" id="isbn" name="isbn" required>
            <button class="btn_design"
                    type="submit">Поиск</button>
        </form>
    </li>
    <li>
        <a class="linkToButton" th:href="@{/book/show_free}">Показать свободные книги</a>
        <a class="linkToButton" th:href="@{/book/}">Показать все книги</a>
    </li>
</ul>
<p th:if="${#lists.isEmpty(books)}">Нет доступных книг.</p>
<table th:if="${!#lists.isEmpty(books)}">
    <thead>
    <tr>
        <th></th>
        <th>ISBN</th>
        <th>Название</th>
        <th>Жанр</th>
        <th>Описание</th>
        <th>Автор</th>
        <th>Статус</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${!#lists.isEmpty(books)}" th:each="book, stat : ${books}">
        <td th:text="${stat.index+1}">
        <td th:text="${book.bookDto.isbn}"></td>
        <td th:text="${book.bookDto.name}"></td>
        <td th:text="${book.bookDto.genre}"></td>
        <td th:text="${book.bookDto.description}"></td>
        <td th:text="${book.bookDto.author}"></td>
        <td th:if="${book.bookTracker != null}">
            <span th:if="${#lists.isEmpty(book.bookTracker)}">Статус не найден</span>
            <span th:if="${!#lists.isEmpty(book.bookTracker)}"
                  th:text="${book.bookTracker.get(0).getBookStatus().getDisplayName()}"></span>
        </td>
        <td><a class="linkToButton" th:href="@{/book/open_update_form/{id}(id=${book.bookDto.id})}">Изменить</a></td>
        <td>
            <form th:action="@{/book/delete/{id}(id=${book.bookDto.id})}" method="post">
            <input type="hidden" name="_method" value="delete"/>
            <button type="submit" class="btn_design">Удалить</button>
            </form>
        </td>
        <td th:if="${book.bookTracker != null}">
            <a class="linkToButton" th:if="${!#lists.isEmpty(book.bookTracker)}"
               th:href="@{/book/open_update_tracker/{id}(id=${book.bookTracker.get(0).id})}">Изменить статус</a>
        </td>
        <td><a class="linkToButton" th:href="@{/book/openHistory_byBook/{bookId}(bookId=${book.bookDto.id})}">
            История</a>
        </td>
    </tr>

    </tbody>
</table>
</body>
</html>