<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Actions</title>
</head>
<body>
    <ul style="list-style-type: none">
        <li>
            <a th:href="@{/open_add_form}">Добавление книги</a>
        </li>
        <li>
            <form action="/books/search_by_id" method="get">
                <label for="book_id">Введите ID книги для поиска:</label>
                <input type="text" id="book_id" name="id" required>
                <button type="submit">Поиск</button>
            </form>
        </li>
        <li>
            <form action="/books/search_by_isbn" method="get">
                <label for="isbn">Введите ISBN книги для поиска:</label>
                <input type="text" id="isbn" name="isbn" required>
                <button type="submit">Поиск</button>
            </form>
        </li>
    </ul>
    <p th:if="${#lists.isEmpty(books)}">Нет доступных книг.</p>
    <table th:if="${!#lists.isEmpty(books)}">
        <thead>
        <tr>
            <th>ISBN</th>
            <th>Название</th>
            <th>Жанр</th>
            <th>Описание</th>
            <th>Автор</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${!#lists.isEmpty(books)}" th:each="book, stat : ${books}">
            <td th:text="${stat.index+1}">
            <td th:text="${book.bookDto.isbn}"></td>
            <td th:text="${book.bookDto.name}"></td>
            <td th:text="${book.bookDto.genre}"></td>
            <td th:text="${book.bookDto.description}"></td>
            <td th:text="${book.bookDto.author}"></td>
            <td><a th:href="@{/open_update_form/{id}(id=${book.bookDto.id})}">Изменить</a><td>
            <td><a th:href="@{/delete/{id}(id=${book.bookDto.id})}">Удалить</a></td>
        </tr>

        </tbody>
    </table>
</body>
</html>