<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BookHistory</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
<ul th:if="${book!=null}" style="list-style-type: none" th:object="${book}">
    <li th:text="'ISBN: ' +${book.isbn}"></li>
    <li th:text="'Название: ' +${book.name}"></li>
    <li th:text="'Жанр: ' +${book.genre}"></li>
    <li th:text="'Автор: ' +${book.author}"></li>
    <li th:text="'Описание: ' +${book.description}"></li>
</ul>
<p th:if="${book==null}">Книга не найдена или удалена</p>
<table th:if="${!#lists.isEmpty(book_trackers)}">
    <thead>
    <tr>
        <th>Статус</th>
        <th>Дата взятия для чтения</th>
        <th>Дата возврата</th>
    </tr>
    </thead>
    <tbody>
        <tr  th:each="tracker, stat: ${book_trackers}">
            <td th:text="${tracker.bookStatus.getDisplayName()}"></td>
            <td th:text="${#dates.format(tracker.borrowDate,'dd-MM-yyyy')}"></td>
            <td th:text="${#dates.format(tracker.returnDate,'dd-MM-yyyy')}"></td>
            <td th:if="stat==0"><a th:href="@{/open_update_form/{id}(id=${tracker.id})}">Изменить</a></td>
        </tr>
    </tbody>
</table>
<p th:if="${book!=null and #lists.isEmpty(book_trackers)}">История пуста</p>
<a class="linkToButton" th:href = "@{/book/}">Назад</a>
</body>
</html>