<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ChangeStatus</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
<form th:if="${book_tracker!=null}" action="#" method="post" th:object="${book_tracker}" th:action="@{/book/tracker/update}">
    <input type="hidden" th:field="*{id}"/>
    <input type="hidden" th:field="*{bookId}"/>
    <input type="hidden" name="_method" value="put"/>
    <ul style="list-style-type: none">
        <li>
    <select name="bookStatus" th:field="*{bookStatus}">
        <option th:each="st : ${allowed_statuses}"
                th:value="${st}" th:text="${st.getDisplayName()}">
        </option>
    </select>
        </li>
        <li th:if="${book_tracker.bookStatus.name() == 'AVAILABLE'}">
            <label for="borrow_date_input">Дата взятия книги для чтения (дд-мм-гггг)</label>
            <input id="borrow_date_input" type="text" th:field="*{borrowDate}"
                pattern="\d{2}-\d{2}-\d{4}" title="Введите дату в формате дд-мм-гггг"/>
        </li>
        <li th:if="${book_tracker.bookStatus.name() == 'RENEWED' or
         book_tracker.bookStatus.name() == 'AVAILABLE' or book_tracker.bookStatus.name() == 'BORROWED'}">
            <label for="return_date_input">Дата возврата книги (дд-мм-гггг)</label>
            <input id="return_date_input" type="text" th:field="*{returnDate}"
                   pattern="\d{2}-\d{2}-\d{4}" title="Введите дату в формате дд-мм-гггг"/>
        </li>
        <li>
            <button  class="btn_design" type="submit">Сохранить</button>
        </li>
    </ul>
</form>
<p th:if="${book_tracker==null}">Трекер не найден</p>
<a class="linkToButton" th:href = "@{/book/}">Назад</a>
</body>
</html>