<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" method="post" th:action="@{/book/save}" th:object="${book}">
    <ul style="list-style-type: none">
        <li>
            <label for="isbn">ISBN</label>
            <input id="isbn" type="text"  th:field="${book.isbn}"/>
        </li>
        <li>
            <label for="name">Название</label>
            <input id="name" type="text"  th:field="${book.name}"/>
        </li>
        <li>
            <label for="genre">Жанр</label>
            <input id="genre" type="text" th:field="${book.genre}"/>
        </li>
        <li>
            <label for="description">Описание</label>
            <input id="description" type="text"  th:field="${book.description}"/>
        </li>
        <li>
            <label for="author">Автор</label>
            <input id="author" type="text" th:field="${book.author}"/>
        </li>
        <li>
            <button type="submit">Сохранить</button>
        </li>
    </ul>
</form>
<a th:href = "@{/}">Назад</a>
</body>
</html>