.linkToButton{
    text-decoration: none;
    background-color: #72ae64;
    padding: 6px 15px;
    color: #fff;
    border-radius: 4px;
    display: inline-block;
}
table{
    border: 1px solid #dddddd;
    border-collapse: collapse;
}
body{
    background-color: #fdfef8;
}
.btn_design{
    background-color: #c27523;
    padding: 8px 15px;
    width: 100px;
    height: 30px;
    border: 0px;
    border-radius: 7px;
    color:#fff;

}
th{
    padding: 5px 10px 5px 5px;
    background-color: #c7b030;
    border: 1px solid #dddddd;
}
td{
    border: 1px solid #dddddd;
    padding: 5px 10px 5px 5px;
}
li{
    margin:10px;
}
